@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

:root {
  --active-red: #c73b0f;
  --dark-rose: #260f08;
  --brown-rose: #87635a;
  --medium-brown-rose: #ad8a85;
  --light-brown-rose: #caafa7;
  --light-rose: #f5eeec;
  --white-rose: #fcf8f6;
  --grass: #1ea575;
  --dark: #000000;
  --light: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  padding: 24px;
  background-color: var(--white-rose);
}

.title {
  color: var(--dark-rose);
  font-family: "Red Hat Text";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: capitalize;
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 32px;
}

.product {
  width: 327px;
  display: flex;
  flex-direction: column;
}

.product-img {
  width: 100%;
  border-radius: 8px;
}

.add-btn {
  display: flex;
  padding: 12px 28px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 999px;
  background-color: var(--light);
  border: 1px solid var(--medium-brown-rose);
  align-self: center;
  width: fit-content;
  margin: -22px;
}

.category {
  color: var(--brown-rose);
  font-family: "Red Hat Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 38px;
}

.product-name {
  color: var(--dark-rose);
  font-family: "Red Hat Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 4px;
}

.price {
  color: var(--active-red);
  font-family: "Red Hat Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 4px;
}
@media (min-width: 540px) {
  .product {
    width: 213px;
  }
}
